/* html {
  scroll-behavior: smooth;
}

.top {
  width: 100%;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  pointer-events: none;
}

body {
  font-family: "Major Mono Display", monospace;
  font-family: "Cutive Mono", monospace;
}

.bg-light {
  background-color: white !important;
  border-bottom: 1px dashed grey;
  opacity: 0;
}

.fade-in {
  opacity: 1;
  transition: all 2s ease-in-out;
}

.logo {
  opacity: 0.6;
}

#main-img {
  width: 35vw;
}

.spin {
  transform: rotate(360deg);
  transition: all 0.5s linear;
}

.header {
  padding: 3vh;
  cursor: default;
  font-weight: bold;
  opacity: 0.8;
  text-align: center;
}

.main-haiku-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.main-haiku {
  line-height: 1.5em;
  margin-bottom: 5vh;
}

.btn-dark:not(:disabled):not(.disabled).active:focus,
.btn-dark:not(:disabled):not(.disabled):active:focus,
.btn.focus,
.btn-dark:focus {
  box-shadow: none;
  transition: none;
}


.page-footer {
  margin-top: 5vh;
  border-top: 1px dashed grey;
}

.fab {
  text-align: center;
}

.socials {
  padding: 3vh 3vh 2vh 3vh !important;
}

.social-icon {
  font-size: 1.2em !important;
  cursor: pointer;
}

.ic:hover > .social-icon {
  color: #007bff;
  transform: rotate(360deg);
  transition: all 0.3s linear;
}
 */
