.fade-in {
  transition: none;
}

.fade {
  animation: fadeIn 2s ease forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  padding-top: 5vh;
}

.poem-text {
  opacity: 0.4;
  cursor: default;
}

.poem-text:hover {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
