html {
  scroll-behavior: smooth;
}

body {
  font-family: "Major Mono Display", monospace;
  font-family: "Cutive Mono", monospace;
  outline: 1px solid red !important;
}

.sub-container {
  min-height: 80vh;
}

/* --- Nav Bar --- */
.bg-light {
  background-color: white !important;
  border-bottom: 1px dashed grey;
  opacity: 0;
}
.logo {
  opacity: 0.6;
}

/* --- Home Page --- */
#main-img {
  width: 35vw;
}

.main-haiku-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.main-haiku {
  line-height: 1.5em;
  margin-bottom: 5vh;
}

.btn-dark:not(:disabled):not(.disabled).active:focus,
.btn-dark:not(:disabled):not(.disabled):active:focus,
.btn.focus,
.btn-dark:focus {
  box-shadow: none;
  transition: none;
}

/* --- Headers --- */
.header {
  font-weight: bold;
  cursor: default;
  color: black;
  opacity: 0.8;
  padding: 3vh;
  margin-top: 10vh;
  margin-bottom: 5vh;
}

/* --- Past Haikus --- */
.card {
  cursor: pointer;
}

.card:hover {
  box-shadow: 4px 4px 4px grey;
}

/* --- Star Ratings --- */
.rating {
  padding: 0.2vw;
  cursor: pointer;
}

.star:before {
  font-family: "FontAwesome";
  content: "\f005";
  color: #d0e8f0;
}

.star:hover:before,
.star.to_rate:before,
.star.rated:before {
  color: #80c1d5;
}

/* --- Footer --- */
.page-footer {
  margin-top: 5vh;
  border-top: 1px dashed grey;
}

/* --- Socials --- */
.socials {
  padding: 3vh 3vh 2vh 3vh !important;
}

.social-icon {
  font-size: 1.2em !important;
  cursor: pointer;
}

.ic:hover > .social-icon {
  color: #007bff;
  transform: rotate(360deg);
  transition: all 0.3s linear;
}

/* --- Animations --- */
.fade-in {
  opacity: 1;
  transition: all 2s ease-in-out;
}

.spin {
  transform: rotate(360deg);
  transition: all 0.5s linear;
}
