body {
  font-family: "Major Mono Display", monospace;
  font-family: "Cutive Mono", monospace;
}

.bg-light {
  background-color: transparent !important;
}

.img {
  width: 35vw;
}

.img:hover {
  transform: rotate(360deg);
  transition: all 0.5s linear;
}

.header {
  padding: 3vh;
  cursor: default;
  font-weight: bold;
}

.sub-header {
  margin-top: 5vh;
  margin-bottom: 5vh;
  color: black;
  cursor: pointer;
}

.sub-header:hover {
  color: #007bff;
}

.sub-header-link:hover {
  text-decoration: none;
}

.main-haiku-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.main-haiku {
  line-height: 1.5em;
  margin-bottom: 5vh;
}

.btn-dark:not(:disabled):not(.disabled).active:focus,
.btn-dark:not(:disabled):not(.disabled):active:focus,
.btn.focus,
.btn-dark:focus {
  box-shadow: none;
  transition: none;
}

.card:hover {
  box-shadow: 4px 4px 4px grey;
}

.page-footer {
  margin-top: 5vh;
  margin-bottom: 3vh;
}

.fab {
  text-align: center;
}

.socials {
  padding: 3vh 3vh 2vh 3vh !important;
}

.social-icon {
  font-size: 1.2em !important;
  cursor: pointer;
}

.ic:hover > .social-icon {
    color: #007bff;
    transform: rotate(360deg);
    transition: all 0.3s linear;
  }
