html {
  scroll-behavior: smooth;
}

.top {
  width: 100%;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  pointer-events: none;
}

body {
  font-family: "Major Mono Display", monospace;
  font-family: "Cutive Mono", monospace;
}

.sub-container {
  min-height: 80vh;
}

.bg-light {
  background-color: white !important;
  border-bottom: 1px dashed grey;
}

.logo {
  opacity: 0.6;
}

#main-img {
  width: 35vw;
}
.spin {
  transform: rotate(360deg);
  transition: all 0.5s linear;
}

.header {
  padding: 3vh;
  cursor: default;
  font-weight: bold;
  opacity: 0.8;
  text-align: center;
}

.hide {
  visibility: hidden;
}

.sub-header {
  padding-top: 10vh;
  margin-top: 15vh;
  margin-bottom: 5vh;
  color: black;
  cursor: pointer;
}

.main-haiku-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.main-haiku {
  line-height: 1.5em;
  margin-bottom: 5vh;
}

.btn-dark:not(:disabled):not(.disabled).active:focus,
.btn-dark:not(:disabled):not(.disabled):active:focus,
.btn.focus,
.btn-dark:focus {
  box-shadow: none;
  transition: none;
}

.card {
  cursor: pointer;
}

.card:hover {
  box-shadow: 4px 4px 4px grey;
}

.page-footer {
  margin-top: 5vh;
  border-top: 1px dashed grey;
}

.fab {
  text-align: center;
}

.socials {
  padding: 3vh 3vh 2vh 3vh !important;
}

.social-icon {
  font-size: 1.2em !important;
  cursor: pointer;
}

.ic:hover > .social-icon {
  color: #007bff;
  transform: rotate(360deg);
  transition: all 0.3s linear;
}

.rating {
  padding: 0.2vw;
  cursor: pointer;
}

.stars .star:before {
  font-family: "FontAwesome";
  content: "\f005";
  color: #d0e8f0;
  font-size: 1.5em;
}

.rating .stars .star:hover:before,
.rating .stars .star.to_rate:before,
.rating .stars .star.rated:before {
  color: #80c1d5;
}
